
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <span>從頭</span>
    <span>風險與挑戰</span>
    <span>退換貨規則</span>
    <span>課服聯絡方式</span>
</div>
<a href="#one">客服聯絡方式</a>
<a href="#two">風險與挑戰</a>
<a href="#three">退換貨規則</a>
<a href="#four">客服聯絡方式</a>
<ul>
    
        
    
    <li>
        
    </li>
    <li>
        
    </li>
    <li>
        
    </li>
</ul>
<div style="width:120px">
    <div>
        <a id="one"></a>
            <div>
                "暫定 TBD" 團隊，專注於實現天馬行空的創意。
                ▍銅錢，改造計畫!#
                在華人文化中，相信具有特別寓意的吉祥物能帶來好運，
                尤其以招財開運性質的擺飾最受歡迎，像是蟾蜍、虎爺、金雞、招財貓、招財樹等...
                這些吉祥擺飾的樣貌，也越來越有創意及設計感。
                唯獨銅錢，大多仍維持傳統的樣貌。
                最富有文化意涵的「銅錢」，
                常被視為古董或是老一輩的收藏品。
            </div>
        
        <a id="two"></a>
            <div>
                <h1>風險與挑戰</h1>
                顏色請以實品為主，可能因個人螢幕顯色會有些許差異。
                團隊會以準時完成出貨為目標，但仍有可能會有不可抗力的因素導致延遲（如物流、工廠進口原物料卡海關等），還請見諒。
            </div>
        
        <a id="three"></a>
            <div>
                <h1>退換貨規則</h1>
                鋅合金外框 & 透色壓克力片
                皆為匠人師父們經過電鍍及多次手工拋光，難免會有一些手工的痕跡，若無明顯刮痕，屬於正常。

                依消費者保護法規定，收到產品後享有七天的鑑賞期（收到貨次日起算）
                提醒您，猶豫期非試用期，若商品無問題或瑕疵，經使用後不提供退換貨
                退換貨請將商品完整寄回（商品、配件與包裝完好）

                待收到貨品並確認後，將立即為您處理退換貨事宜
            </div>
        
    </div>
    <div>
        @*<a href="#four">客服聯絡方式</a>*@
        <a id="four"></a>
        <div>
            <h1>客服聯絡方式</h1>
            有任何問題，或合作洽談都歡迎來信。
            FB : https://www.facebook.com/4crea.tbd
            MAIL : 4crea.tbd@gmail.com
        </div>
    </div>
</div>