
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <ul>
        <li>
            <a href="https://localhost:44370/Home/popular">本週熱門</a>
        </li>
        <li>
            <a href="https://localhost:44370/Home/latest">最新上線</a>
        </li>
    </ul>
</div>
<div style="border:1px solid pink">
    <a href="https://localhost:44370/Home/money5"><img src="~/image/money5"></a>
    <br />
    <a href="https://localhost:44370/Home/money5">【墊墊五錢】好運杯墊｜超「實用」的好運擺飾</a>
    <p>By<a href="https://www.zeczec.com/users/tbd">暫定 TBD</a></p>
    <p>
        五錢好
        運杯墊，除了擺設，還兼顧實用。「銅錢」是國泰民安的財富象徵，也有豐衣足食的吉祥寓意；而「五行」的和諧，能使萬...
    </p>
    <p>
        <meter min="0" max="100" value="64"></meter>
    </p>
</div>

<div style="border:1px solid pink">
    <a href=""><img src="~/image/ear" /></a>
    <br />
    <a href="">小耳朵系列繪本3 《神奇時光機》 預購計畫</a>
    <p>提案者<a href="">康健出版</a></p>
    <p>
        <meter min="0" max="100" value="100"></meter>
    </p>
</div>