
@{
    ViewBag.Title = "mailthefounder";
}

<h2>mailthefounder</h2>
<p>收件人<a href="https://www.zeczec.com/users/tbd">暫定 TBD</a></p>
<br />
<label>訊息內容</label>
<br />
<textarea></textarea>
<br />
<button>送出訊息</button>
