
@{
    ViewBag.Title = "supportMoney5";
}

<h2>supportMoney5</h2>
<div id="top">
    【墊墊五錢】好運杯墊｜超「實用」的好運擺飾
    提案人 暫定 TBD | 預購式專案
    NT$57,701 / 目標 NT$88,888
</div>

<form action="/Home/supportMoney5" method="get">
    <a href="/Home/caseOne">
        <div id="one">
            <img src="" />
            <p>
                NT$1,688
                <br />
                已被贊助 18 次
                <br />
                【早點有錢】<br />
                內含：<br />
                ㊎ 金杯墊 x1<br />
                ㊍ 木杯墊 x1<br />
                ㊌ 水杯墊 x1<br />
                ㊋ 火杯墊 x1<br />
                ㊏ 土杯墊 x1<br />
                ㊖ 陳列座 x1<br />
                <br />
                未來售價 NT$2,288，現賺 NT$600<br />
                -----------------------------------<br />
                ○ 杯墊尺寸：外框直徑 11 x 11 cm<br />
                ○ 陳列座尺寸：12 x 12 x 12 cm<br />
                ○ 杯墊重量(一個)：120g<br />
                ○ 陳列座重量(一組)：200g<br />
                -----------------------------------<br />
                【惦惦提醒】<br />
                ㊖ 商品整組福氣出售，不單獨販售。<br />
                ㊖ 台灣本島免運。<br />
                ㊖ 台灣外島須加運費50元。<br />
            </p>
        </div>
    </a>

    <button>
        <div id="two">
            <img src="" />
            <p>
                NT$1,688
                <br />
                已被贊助 18 次
                <br />
                【早點有錢】<br />
                內含：<br />
                ㊎ 金杯墊 x1<br />
                ㊍ 木杯墊 x1<br />
                ㊌ 水杯墊 x1<br />
                ㊋ 火杯墊 x1<br />
                ㊏ 土杯墊 x1<br />
                ㊖ 陳列座 x1<br />
                <br />
                未來售價 NT$2,288，現賺 NT$600<br />
                -----------------------------------<br />
                ○ 杯墊尺寸：外框直徑 11 x 11 cm<br />
                ○ 陳列座尺寸：12 x 12 x 12 cm<br />
                ○ 杯墊重量(一個)：120g<br />
                ○ 陳列座重量(一組)：200g<br />
                -----------------------------------<br />
                【惦惦提醒】<br />
                ㊖ 商品整組福氣出售，不單獨販售。<br />
                ㊖ 台灣本島免運。<br />
                ㊖ 台灣外島須加運費50元。<br />
            </p>
        </div>
    </button>

</form>
<script>
    function btnOne() {
        console.log("010101");
    }
</script>